html{
  background-image: url(reel.png);
  background-size: auto;
}
@font-face {
    font-family: watchmen;
    src: url(--wATCHMEn--.ttf);
}
h1{
  text-align: center;
  text-shadow: 1px 1px white;
  padding-top: 5px;
  margin: 15px;
  font-family: watchmen;
}
div#board{
  background-color: #D0D0D0;
  height: 510px;
  width: 695px;
  padding: 20px;
  margin: 10px auto;
  border: 5px solid black;
  border-radius: 20px;
  box-shadow: 0px 10px 20px black;
}
div#board > div{
  background: url(reelthumb.jpg) no-repeat;
  color: black;
	border: 1px solid white;
  border-radius: 10px;
	width:131px;
	height:131px;
	float:left;
	margin:20px;
	/*padding:30px;*/
	font-size:64px;
	text-align:center;
  overflow: hidden;
}
