html{
  background-image: url(reel.png);
  background-size: auto;
}
h1{
  text-align: center;
  padding-top: 10px;
  margin: 15px;
}
div#board{
  background-color: transparent;
  height: 510px;
  width: 695px;
  padding: 25px;
  margin: 10px auto;
  border: 5px solid black;
  border-radius: 20px;
}
div#board > div{
  background: url(reelthumb.jpg) no-repeat;
  color: black;
	border: 1px solid white;
  border-radius: 10px;
	width:71px;
	height:71px;
	float:left;
	margin:20px;
	padding:30px;
	font-size:64px;
	text-align:center;
}
